@import "src/assets/style/variables";

.taskCol {
  width: 100%;
  max-width: $maxWidthCol;
  height: fit-content;
  min-height: $maxHeightCol;
}

.header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.cardList {
  list-style: none;
}

.test {
  background: green;
}

.addButton {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
