@import "src/assets/style/mixins";
@import "src/assets/style/variables";

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.form {
  width: 300px;
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    margin-bottom: 8px;
  }

  input {
    height: 24px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding-left: 10px;
  }

  textarea {
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    min-height: 80px;
    width: 90%;
    padding: 8px 0 0 10px;
  }
}

.submitButton {
  @include button($colorTrelloGreen);
}
