.header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  img {
    height: 24px;
    width: 24px;
    cursor: pointer;

    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}
